$color1:rgb(64, 64, 201);
$color2:rgb(73, 201, 73);
$color3:rgb(31, 33, 165);
$color4:rgb(126, 48, 96);
.para1{
    background-color: $color1;
}
.para2{
    background-color: $color2;
}
.para3{
    background-color: $color4;
}
.para4{
    background-color: $color3;
}

